.movieDetails__Star {
    color: orange;
}

.movieDetails__StarRating {
    color: orange;
}

.movieDetails__RateContainer {
    border-top: 1px solid lightgray;
}

.movieDetails__RateContainer > svg {
    font-size: 2em;
    cursor: pointer;
}