.app {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  margin: 0;
  padding: 50px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app__Layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
    grid-gap: 30px ;


}