.app {
  text-align: center;
  background-color: #282c34;
  min-height: calc(100vh - 100px);
  margin: 0;
  padding: 50px;
  color: white;
}

.app__Layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
    grid-gap: 30px ;
}

button {
  color: #444444;
  background-color: #f3f3f3;
  padding: 5px 10px;
  border-radius: 2px;
  font-weight: bold;
  font-size: 0.8em;
  outline: none;
}

button:disabled {
  color: #f3f3f3;
  background-color: #444444;
  cursor: not-allowed;
}

h2 {
  margin:0;
  font-size: 2em;
}

.fa-trash {
  color:crimson;
}

h1 {
  color:orange;
  font-size: 3em;
}

.fa-film {
  color: white;
  transform: rotate(30deg);
}

